@model IEnumerable<Login.ServiceReference.vw_Client>

@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new {  id=item.DocumentNumber }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.DocumentNumber })
    </td>
</tr>
}

</table>
